<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commentSyntaxes</key>
	<array>
		<dict>
			<key>prefix</key>
			<string>/*</string>
			<key>suffix</key>
			<string>*/</string>
		</dict>
		<dict>
			<key>prefix</key>
			<string>//</string>
		</dict>
	</array>
	<key>conformsToLanguageIdentifiers</key>
	<array>
		<string>Xcode.SourceCodeLanguage.C</string>
	</array>
	<key>documentationAbbreviation</key>
	<string>occ</string>
	<key>documentationSyntaxes</key>
	<array>
		<dict>
			<key>prefix</key>
			<string>/**</string>
			<key>suffix</key>
			<string>*/</string>
		</dict>
		<dict>
			<key>prefix</key>
			<string>/*!</string>
			<key>suffix</key>
			<string>*/</string>
		</dict>
		<dict>
			<key>prefix</key>
			<string>///</string>
		</dict>
		<dict>
			<key>prefix</key>
			<string>//!</string>
		</dict>
	</array>
	<key>fileDataTypeIdentifiers</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.precompiled-c-header</string>
	</array>
	<key>identifier</key>
	<string>Xcode.SourceCodeLanguage.Objective-C</string>
	<key>isHidden</key>
	<false/>
	<key>languageName</key>
	<string>Objective-C</string>
	<key>languageSpecification</key>
	<string>xcode.lang.objc</string>
	<key>nativeSourceModelParserClass</key>
	<string>ObjCSourceModelParser</string>
	<key>supportsIndentation</key>
	<true/>
	<key>allowWhitespaceTrimming</key>
	<true/>
	<key>requiresHardTabs</key>
	<false/>
	<key>indentationTriggers</key>
	<array>
		<string>{</string>
		<string>}</string>
		<string>;</string>
		<string>:</string>
		<string>#</string>
	</array>
</dict>
</plist>
